
* {
    margin: 0;
}
html, body {
    height: 100%;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -142px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
    height: 142px; /* .push must be the same height as .footer */
}


.background-image {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 0;

  display: block;
  background-image: url('../img/bg.jpg');
  background-size: cover;
  width: 100%;
  height: 100%;
  
  
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);

}

.title{
  text-transform: uppercase;
  color: #fafafa;
  font-size: 33px;
  font-weight: 800;
  padding-bottom: 0px;
  margin-bottom: 0px;
  
}

.title span {
  font-size: 18px;
  font-stretch: extra-expanded;
  font-weight: 100;
  text-transform: capitalize;
}
.wallet-address{
  font-size: 7 px;
}
.panel-sub {
  text-transform: lowercase;
  color: #fafafa;
  font-weight: 400;
  margin-top: 0px;
  padding-top: 0px;
}

.is-input {
}

.tabs.is-toggle li.is-active a {
  border-color: black;
  background-color: black;
}

.tabs.is-toggle li+li {
  background-color: #fff;
}